# env
.env
.env.local
.env.production
backend/.env

# secrets
GEMINI.md

# next
.next/

# node
node_modules/

# logs
*.log

# python
__pycache__/
*.pyc
*.py[cod]
*.egg-info/
.venv/
venv/
dist/
build/
*.pyo

# sqlite
*.db

# vscode
.vscode/

# macos
.DS_Store
Thumbs.db

# web
yatra/
yatra-1/
yatra-2/
.idea/
*.swp
*.swo
