@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth antialiased;
  }

  body {
    @apply bg-background text-primary leading-relaxed tracking-tight font-sans;
  }

  h1 {
    @apply text-5xl font-bold tracking-tight;
  }

  h2 {
    @apply text-4xl font-bold tracking-tight;
  }

  h3 {
    @apply text-2xl font-bold tracking-tight;
  }
}

/* С…РѕРІР°С”РјРѕ СЃРєСЂРѕР»Р±Р°СЂ РґР»СЏ С‡РёСЃС‚С–С€РѕРіРѕ РІРёРіР»СЏРґСѓ */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

